body {
    min-height: 1000px;
    background-color: green;
}

.container {
    width: 200px;
    height: 400px;
    border: 1px solid black;
    margin: 100px;
    position: relative;
    background-color: white;
}

.inner-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    top: 0;
}
